@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .p {
    @apply text-justify text-base font-normal leading-loose;
  }
}
div,
span,
button,
p {
  font-variant: all-small-caps;
}

div,
span,
p {
  cursor: default;
}

*::selection {
  color: white;
  background-color: #a9aa55;
}
