@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .p {
    @apply text-justify text-base font-normal leading-loose;
  }
}

div,
span,
button,
p {
  font-variant: all-small-caps;
}

div,
span,
p {
  cursor: default;
}

*::selection {
  color: white;
  background-color: #a9aa55;
}

.menu a {
  position: relative;
  display: block;
}
.menu a svg {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
}

.menu a svg path {
  fill: transparent;
  stroke-width: 4px;
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.29, 0.68, 0.74, 1.02);
}

.menu a:hover svg path {
  stroke-dashoffset: 0;
}

.circle {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #cfbc62;
  transition: all 0.3s ease-in;
  outline: 1px solid #cfbc62;
}

.circle:hover {
  background-color: transparent;
  outline: 1px solid #cfbc62;
  outline-offset: -5px;
}
