@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .p {
    @apply text-justify text-base font-normal leading-loose;
  }
}

div,
span,
button,
p {
  font-variant: all-small-caps;
}

div,
span,
p {
  cursor: default;
}

*::selection {
  color: white;
  background-color: #a9aa55;
}

.menu a {
  position: relative;
  display: block;
}
.menu a svg {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
}

.menu a svg path {
  fill: transparent;
  stroke-width: 4px;
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.29, 0.68, 0.74, 1.02);
}

.menu a:hover svg path {
  stroke-dashoffset: 0;
}
