.menu {
  position:  absolute;
  top: 200px;
  right: var(--right-padding);
}

.menuList {
  list-style: none;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 20px;
}

.menuItem {
  font-weight: bold;
  cursor: pointer;
  text-align: right;
}

.menuItem:hover {
  text-decoration: underline;
}
